.car {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;

  /* padding: 50px !important; */
}
.single {
  /* margin: 10px !important; */
  height: 290px !important;
  width: 250px !important;
}
.wholeCard {
  padding: 25px !important;
  margin: 65px !important;
  height: 450px !important;
  width: 300px !important;
}

/* .imag{

    height: 210px !important;
    width: 210px !important;
    border: 1px solid red !important;
} */
@media screen and (max-width: 568px) {
  .single {
    /* margin: 10px !important; */
    height: 190px !important;
    width: 150px !important;
  }
  .wholeCard {
    padding: 25px !important;
    margin: 85px !important;
    height: 370px !important;
    width: 200px !important;
  }
}
@media screen and (max-width: 360px) {
  .single {
    /* margin: 10px !important; */
    height: 190px !important;
    width: 150px !important;
  }
}
